body {
    background-color: rgb(216, 162, 162);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    text-align: center;
    color: white;
    font-family: sans-serif;
}