@font-face {
    font-family: "SocailMediaLinks";
    src: url("../fonts/ShareTechMono-Regular.ttf");
}

body {
    /* background-color: rgb(216, 162, 162); */
    background-image: url("../images/backgroundMain.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    text-align: center;
    color: white;
    font-family: sans-serif;
}

.linkBox {
    margin: auto;
    box-sizing: content-box;
    background-color: rgba(122, 122, 122, 0.8);
    box-shadow: 0 0 5px 10px rgba(122, 122, 122, 0.8);
    width: 20%;
    border-radius: 25px;
}

.linkHeader {
    text-align: center;
    color: white;

    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

.linkBlock {
    text-align: center;
    color: rgb(41, 34, 144);

    font-family: 'SocailMediaLinks';
    font-size: 20px;
}