@font-face {
    font-family: "SocailMediaLinks";
    src: url("../fonts/ShareTechMono-Regular.ttf");
}

@font-face {
    font-family: "BRFont";
    src: url("../fonts/BLADRMF_.TTF");
}

body {
    margin: 0;

    background-image: url("../images/backgroundMain.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content {
    height: 65vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    text-align: center;
    color: white;
    font-family: "BRFont";
    font-size: 40px;
}

.linkHeader {
    text-align: center;
    color: white;

    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    filter: unset;
}

.linkBlock {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;

    text-align: center;

    font-family: 'SocailMediaLinks';
    font-size: 25px;
}

.container {
    width: 30rem;
    height: 10rem;
    min-height: 200px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 10px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}

.container:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.65);
    filter: blur(10px);
    margin: -20px;
}

a {
    height: 45px;
    width: 45px;
    transition: color 0.2s ease-out;
    transition: transform 0.2s ease-in-out;
}

a:link, a:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(52, 41, 204);
    transform: scale(1.5, 1.5);
}

@media (max-width: 600px) {

}