@font-face {
    font-family: "Slick";
    src: url("../fonts/ShareTechMono-Regular.ttf");
}

.body {
    width: 100%;
}

.masterContainer {
    text-align: center;
}
.masterContainer .text {
    color: white;
    font-family: "Slick";
    margin-top: 1%;
}

.graphContainer {
    background-color: rgba(180, 180, 180, 0.7);
    width: 100%;
    border-radius: 1.5rem;
    font-family: "Slick";
    padding: 1%;
    margin-top: 0.5%;
    
    display: flex;
    justify-content: center;
}
.graphContainer .graphText {
    font-family: "Slick";
}
.graphContainer table { 
    width: 99%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    border-collapse: collapse; 
}
.graphContainer table th {
    border-bottom: 1px solid rgb(44, 44, 44);
    height: 2rem;
    text-align: right;
}
.graphContainer table td {
    height: 3.5rem;
    padding-bottom: 0.5rem;
}
.graphContainer table .headerCol{
    text-align: right;
}
.graphContainer .experienceBar {
    color: white;
    background-color: rgb(72, 59, 104);
    border-radius: 10px;
    margin-left: 1rem;
    width: auto;
    height: 90%;

    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right;
    font-size: 0px;

    transition: font-size 0.1s ease-in-out, background-color 0.1s ease-in-out;
}
.graphContainer .experienceBar:hover {
    color: white;
    background-color: rgb(118, 97, 172);
    font-size: 100%;
}

/*
 * =====================================================================================================================
 * Styling for mobile (width == or below 500px) below!
 */
 @media (max-width: 680px) {
    .body {
        display: none;
    }
    .masterContainer .text {
        display: none;
    }
    
    .graphContainer {
        display: none;
    }
    .graphContainer .graphText {
        display: none;
    }
    .graphContainer table { 
        display: none;
    }
    .graphContainer table th {
        display: none;
    }
    .graphContainer table td {
        display: none;
    }
    .graphContainer table .headerCol{
        display: none;
    }
    .graphContainer table h5{
        display: none;
    }
    .graphContainer .experienceBar {
        display: none;
    }
}
