@font-face {
    font-family: "Slick";
    src: url("../fonts/ShareTechMono-Regular.ttf");
}

.masterContainer {
    text-align: center;
}
.masterContainer .text {
    color: white;
    font-family: "Slick";
}

.graphContainer {
    background-color: rgba(180, 180, 180, 0.8);
    width: 50%;
    border-radius: 3rem;
    font-family: "Slick";
}
.graphContainer .graphText {
    font-family: "Slick";
}
.graphContainer table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.graphContainer table th {
    border-bottom: 1px solid rgb(143, 143, 143);
    height: 2rem;
}
.graphContainer table td {
    height: 3rem;
}
