@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
	font-family: "Slick";
	src: url("../fonts/ShareTechMono-Regular.ttf");
}

.body {
	flex-basis: 30%;
}

.masterContainer {
	margin-left: 2%;
	margin-right: 2%;

	transition: transform 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.masterContainer .text {
	text-align: center;
}
.masterContainer:hover {
	transform: scale(1.1, 1.1) !important;
}
.masterContainer .text {
	color: white;
	font-family: "Bebas Neue";
	margin-top: 1%;
}

.graphContainer {
	background-color: rgba(180, 180, 180, 0.78);
	width: 100%;
	border-radius: 1.5rem;
	font-family: "Slick";
	padding: 1%;
	margin-top: 0.5%;

	display: flex;
	flex-direction: column;
	justify-content: center;
}
.graphContainer .graphText {
	font-family: "Slick";
}
.graphContainer table {
	width: 99%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0);
	border-collapse: collapse;
}
.graphContainer table th {
	border-bottom: 1px solid rgb(44, 44, 44);
	height: 2rem;
	text-align: right;
}
.graphContainer table td {
	height: 3.5rem;
	padding-bottom: 0.5rem;
}
.graphContainer table .headerCol {
	text-align: right;
}
.graphContainer .experienceBar {
	color: white;
	background-color: rgb(72, 59, 104);
	border-radius: 10px;
	margin-left: 1rem;
	width: auto;
	height: 90%;

	display: flex;
	align-items: center;
	justify-content: right;
	text-align: right;
	font-size: 0px;

	transition: font-size 0.1s ease-in-out, background-color 0.1s ease-in-out;
}
.graphContainer .experienceBar:hover {
	color: white;
	background-color: rgb(118, 97, 172);
	font-size: 100%;
}

.flexDiv {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.flexDiv .projectText {
	font-size: 1.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.experienceDiv {
	width: 100%;
}
.experienceDiv .header {
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	border-bottom: 2px solid black;
}
.experienceDiv .header h2,h4 {
	margin-bottom: 0px;
	margin-left: 0.2rem;
	margin-right: 1rem;
}
.experienceDiv .subHeader h4 {
	text-align: left;

	margin-top: 2px;
	margin-left: 0.2rem;
	margin-right: 1rem;
}
.experienceDiv .description {
	text-align: left;

	margin-left: 0.1rem;
	margin-right: 0.1rem;
}
.experienceDiv .description p {
	margin-top: 0px;
	margin-bottom: 5px;
}
.experienceDiv .flexDiv {
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.projectText {
	font-size: 1.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

/*
 * =====================================================================================================================
 * Styling for mobile (width == or below 500px) below!
 */
@media (max-width: 800px) {
	.body {
		display: none;
	}

	.masterContainer .text {
		display: none;
	}

	.graphContainer {
		display: none;
	}

	.graphContainer .graphText {
		display: none;
	}

	.graphContainer table {
		display: none;
	}

	.graphContainer table th {
		display: none;
	}

	.graphContainer table td {
		display: none;
	}

	.graphContainer table .headerCol {
		display: none;
	}

	.graphContainer table h5 {
		display: none;
	}

	.graphContainer .experienceBar {
		display: none;
	}
}