@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
	font-family: "Slick";
	src: url("../fonts/ShareTechMono-Regular.ttf");
}

.body {
	flex-basis: 30%;
}

.masterContainer {
	margin-left: 2%;
	margin-right: 2%;

	transition: transform 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.masterContainer .text {
	text-align: center;
}
.masterContainer:hover {
	transform: scale(1.1, 1.1) !important;
}
.masterContainer .text {
	color: white;
	font-family: "Bebas Neue";
	margin-top: 1%;
}

.graphContainer {
	background-color: rgba(180, 180, 180, 0.78);
	width: 100%;
	border-radius: 1.5rem;
	font-family: "Slick";
	padding: 1%;
	margin-top: 0.5%;

	display: flex;
	flex-direction: column;
	justify-content: center;
}
.graphContainer .graphText {
	font-family: "Slick";
}

.flexDiv {
	width: 100%;

	display: flex;
	justify-content: space-between;
}

.jobDescDiv {
	width: 100%;
}
.jobDescDiv .header {
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	border-bottom: 2px solid black;
}
.jobDescDiv .header h2,h4 {
	margin-bottom: 0px;
	margin-left: 0.2rem;
	margin-right: 1rem;
}
.jobDescDiv .subHeader h4 {
	text-align: left;

	margin-top: 2px;
	margin-left: 0.2rem;
	margin-right: 1rem;
}
.jobDescDiv .description {
	text-align: left;

	margin-left: 0.1rem;
	margin-right: 0.1rem;
}
.jobDescDiv .description p {
	margin-top: 0px;
	margin-bottom: 5px;
}
.jobDescDiv .flexDiv {
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.projectText {
	font-size: 1.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

/*
 * =====================================================================================================================
 * Styling for mobile (width == or below 500px) below!
 */
@media (max-width: 800px) {
	.body {
		display: none;
	}

	.masterContainer .text {
		display: none;
	}

	.graphContainer {
		display: none;
	}

	.graphContainer .graphText {
		display: none;
	}

	.graphContainer table {
		display: none;
	}

	.graphContainer table th {
		display: none;
	}

	.graphContainer table td {
		display: none;
	}

	.graphContainer table .headerCol {
		display: none;
	}

	.graphContainer table h5 {
		display: none;
	}

	.graphContainer .experienceBar {
		display: none;
	}
}